---
layout: default
title: Projects | Sophie Newman
header_title: projects
header_subtitle: Current and recent research projects
nav_active: projects
---

{% for project in site.data.projects %}
<h2 class="category">{{ project.title }}</h2>

{{ project.description_html }}

{% if project.websites %}
<p>
	{% for site_link in project.websites %}
	<a href="{{ site_link.url }}" class="btn">{{ site_link.label }}</a>
	{% endfor %}
</p>
{% endif %}

{% if project.papers %}
<h3>Relevant papers</h3>
<ul>
	{% for paper in project.papers %}
	<li><a href="{{ paper.url }}">{{ paper.label }}</a></li>
	{% endfor %}
</ul>
{% endif %}
{% endfor %}
