---
layout: default
title: Outreach | Sophie Newman
header_title: outreach
header_subtitle: Making science accessible to everyone.
nav_active: outreach
---

<p>I'm passionate about making science accessible to everyone by ensuring that all have the resources and opportunities they need to get involved. Here are some of my favourite outreach initiatives I've taken part in.</p>

<div class="projects">
	<ul class="grid">
		{% for item in site.data.outreach %}
		<li class="card">
			{% if item.image %}<img class="card-img" src="{{ item.image }}" alt="{{ item.alt }}" />{% endif %}
			<div class="card-body">
				<h3 class="card-title">{{ item.title }}</h3>
				<p class="card-text">{{ item.description }}</p>
			</div>
		</li>
		{% endfor %}
	</ul>
</div>
