---
layout: default
title: Outreach | Sophie Newman
header_title: Outreach
nav_active: outreach
---

<section id="content" class="main">

	<p>I'm passionate about making science accessible to everyone by ensuring that all have the resources and opportunities they need to get involved. Here are some of my favourite outreach initiatives I've taken part in.</p>

	<ul class="features">
		{% for item in site.data.outreach %}
		<li>
			{% if item.image %}<img src="{{ item.image }}" alt="{{ item.alt }}" style="width: 100%; max-width: 160px; margin: 0 auto 1.5em; display: block;" />{% endif %}
			<h3>{{ item.title }}</h3>
			<p>{{ item.description }}</p>
		</li>
		{% endfor %}
	</ul>

</section>
