---
layout: default
home: true
header_alt: true
header_title: Sophie Newman
header_subtitle: PhD student generating synthetic observations for JWST
nav_active: about
---

<section id="content" class="main">

	<p> I am working towards a PhD at the Institute of Cosmology & Gravitation (ICG) at the University of Portsmouth,
		learning how to generate synthetic observations for the James Webb Space Telescope (JWST).
		I also have an interest in using microlensing by compact objects to explore accretion disks.
	</p>

	<p> I grew up in a single-parent family in Grays, Essex, a low-income area where physics education is particuarly poor. I became excited
		about physics around the age of 15 after watching documentaries on space missions and eventually learned more
		about astronomy and astrophysics too. In 2019 I started my MPhys degree in Physics at the University of
		Southampton, graduating with 1st class honours in 2023. I then begun my PhD later that year at the Institute of
		Cosmology & Gravitation at the University of Portsmouth with Claudia Maraston and Christopher Lovell as my supervisors. In September 2025 I begun working
		at the Center for Computational Astrophysics (CCA) at the Flatiron Institute in New York City through their four-month Pre-Doctoral programme,
		working with Rachel Somerville and Laura Sommovigo.
	</p>

	<p> When I am not busy coding, you can find me baking various sweet goods (IG: @physicistbakery), crocheting, doing various
		other crafts, watching F1, enjoying nature, or hanging out with friends from my church family.
	</p>

	<img src="/images/collage.png" alt="Collage of Sophie Newman" style="width: 100%; height: auto; border-radius: 10px; margin-top: 1.5em; margin-bottom: 1.5em;" />

	<h2>Education</h2>
	<ul>
		{% for item in site.data.education %}
		<li style="margin-bottom: 1em;">
			<strong>{{ item.institution }}</strong>, {{ item.location }}<br>
			<em>{{ item.dates }}</em><br>
			{{ item.detail }}
		</li>
		{% endfor %}
	</ul>

	<h2>Research Experience</h2>
	<ul>
		{% for item in site.data.research_experience %}
		<li style="margin-bottom: 1em;">
			<strong>{{ item.institution }}</strong>, {{ item.location }}<br>
			<em>{{ item.dates }}</em><br>
			{{ item.detail }}
		</li>
		{% endfor %}
	</ul>

	<h2>Collaborations</h2>
	<p>I am a member of the synthetic observations group within the <a href="https://learning-the-universe.org/"><em>Learning the Universe</em></a> collaboration. See my <a href="/collaborations/">collaborations</a> page for more.</p>

	<ul class="actions">
		<li><a href="/publications/" class="button primary">View my publications</a></li>
		<li><a href="/projects/" class="button">See my projects</a></li>
	</ul>

</section>
