<header>
	<nav id="navbar" class="navbar navbar-light navbar-expand-sm" role="navigation">
		<div class="container">

			{% if page.home %}
				<div class="navbar-brand social">{% include social.html %}</div>
			{% else %}
				<a class="navbar-brand title" href="/"><span class="font-weight-bold">Sophie Newman</span></a>
			{% endif %}

			<button
				class="navbar-toggler collapsed"
				type="button"
				aria-controls="navbarNav"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar top-bar"></span>
				<span class="icon-bar middle-bar"></span>
				<span class="icon-bar bottom-bar"></span>
			</button>

			<div class="navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					{% for item in site.data.nav %}
					<li class="nav-item{% if page.nav_active == item.name %} active{% endif %}">
						<a class="nav-link" href="{{ item.url }}">
							{{- item.name -}}
							{% if page.nav_active == item.name %}<span class="sr-only">(current)</span>{% endif %}
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>

		</div>
	</nav>
</header>
