---
layout: default
title: Codes | Sophie Newman
header_title: codes
header_subtitle: Repositories of code I have written to accompany my research papers.
nav_active: codes
---

<p>
	<a href="https://github.com/sophie-newman" class="btn btn-primary"><i class="fab fa-github"></i> View all on GitHub</a>
</p>

<div class="projects">
	<ul class="grid">
		{% for repo in site.data.code_repos %}
		<li class="card">
			<img class="card-img" src="{{ repo.image }}" alt="{{ repo.alt }}" />
			<div class="card-body">
				<h3 class="card-title"><a href="{{ repo.repo_url }}">{{ repo.name }}</a></h3>
				{% if repo.github_repo %}
				<div class="badges">
					<img src="https://img.shields.io/github/stars/{{ repo.github_repo }}?style=flat-square" alt="GitHub stars" />
					<img src="https://img.shields.io/github/forks/{{ repo.github_repo }}?style=flat-square" alt="GitHub forks" />
					<img src="https://img.shields.io/github/last-commit/{{ repo.github_repo }}?style=flat-square" alt="Last commit" />
				</div>
				{% endif %}
				<p class="card-text">{{ repo.description }}</p>
				<div class="links">
					{% for link in repo.links %}
					<a href="{{ link.url }}" class="btn">{% if link.icon %}<i class="{{ link.icon }}"></i> {% endif %}{{ link.label }}</a>
					{% endfor %}
				</div>
			</div>
		</li>
		{% endfor %}
	</ul>
</div>
